/* General */
body {
    background-color: #fff8dc; /* Fondo amarillo claro */
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #ffc107;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #4d3e0f !important;
}

/* Título */
.section-title {
    font-size: 24px;
    color: #d39e00;
    border-bottom: 2px solid #ffc107;
    display: inline-block;
    margin-bottom: 10px;
}

/* Formularios */
form .form-control {
    border-radius: 0.5rem;
}

/* Tablas */
.table {
    border-radius: 8px;
    overflow: hidden;
}

.table-warning {
    background-color: #ffeeba;
}

.table-hover tbody tr:hover {
    background-color: #ffeeba;
}

/* Botones */
.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #4d3e0f;
}

.btn-primary:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Badges */
.badge.bg-success {
    background-color: #28a745;
}

.badge.bg-warning {
    background-color: #ffc107;
    color: #4d3e0f;
}
